<% provide :title, t("sign up") %>
<% provide :button_text, t("create_account") %>
<div class="span9">
  <div class="col-md-6 col-md-offset-3">
  <h1><%= t "signup" %></h1>
    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages" %>

      <%= render "users/form" %>
      <%#= f.submit t "create_account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
